#contact class="#{home_page? ? 'light-typo padding-top-bottom' : 'gray-bg'}"
  .container
    - if home_page?
      h2.section-title
        = t('contact.title')
      p.section-description
        = t('contact.description')
    .row.margin-bottom
      .col-sm-3.col-sm-offset-1.text-center.contact-item.scrollimation.fade-up
        .icon
          i.fa.fa-phone.fa-fw
        p
          = t('contact.header.phone')
        p
          = t('company.phone')
      .col-sm-4.text-center.contact-item.scrollimation.fade-up.d1
        a.icon href="mailto:#{t('company.email')}"
          i.fa.fa-envelope.fa-fw
        p
          = t('contact.header.email')
        p
          = t('company.email')
      .col-sm-3.text-center.contact-item.scrollimation.fade-up.d1
        .icon
          i.fa.fa-skype.fa-fw
        p
          = t('contact.header.skype')
        p
          = t('company.skype')
    .row
      form#contact-form.col-sm-8.col-sm-offset-2 action=proposals_path method="post" novalidate=""
        .form-group
          label.control-label for="contact_name"
            = t('contact_form.name.placeholder')
          .controls
            input#contact_name.form-control.requiredField data-error-empty=t('contact_form.name.error.empty') name="proposal[name]" placeholder=t('contact_form.name.placeholder') type="text"
        .form-group
          label.control-label for="contact_mail"
            = t('contact_form.email.placeholder')
          .controls
            input#contact_mail.form-control.requiredField data-error-empty=t('contact_form.email.error.empty') data-error-invalid=t('contact_form.email.error.invalid') name="proposal[email]" placeholder=t('contact_form.email.placeholder') type="email"
        .form-group
          label.control-label for="contact_phone"
            = t('contact_form.phone.placeholder')
          .controls
            input#contact_phone.form-control.requiredField data-error-empty=t('contact_form.phone.error.empty') data-error-invalid=t('contact_form.phone.error.invalid') name="proposal[phone]" placeholder=t('contact_form.phone.placeholder') type="phone"
        .form-group
          label.control-label for="contact_message"
            = t('contact_form.message.placeholder')
          .controls
            textarea#contact_message.form-control.requiredField data-error-empty=t('contact_form.message.error.empty') name="proposal[message]" placeholder=t('contact_form.message.placeholder') rows="8"
        p.text-center
          button.btn.btn-quattro data-default-message=t('contact_form.submit_button.text') data-error-message=t('contact_form.error') data-error-sending=t('contact_form.fail') data-ok-message=t('contact_form.sent') data-sending-message=t('contact_form.sending') name="submit" type="submit"
            i.fa.fa-paper-plane
            = t('contact_form.submit_button.text')
        input#submitted name="submitted" type="hidden" value="true"
    p.section-description
      = t('contact.briefing')
      a href="/бриф_на_разработку_сайта_geekdev.ru.docx"
        = t('contact.download_briefing')