= render 'share/loader'
= render 'share/main'
= render 'share/about'
= render 'share/features'
= render 'share/call_to_action'
= render 'share/portfolio'
= render 'share/price'
= render 'share/contact'
= render 'share/footer'
= render 'share/scripts'